.chat-header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  
  background-color: white;
  padding: 15px;
  display: flex;
  
  justify-content: space-between;
  column-gap: 10px;
}

.chat-header-content {
  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.chat-header-content h5 {
  font-weight: 500;
}

button.chat-header-edit {
  color: var(--color-primary);
  padding: 0;
  background-color: transparent;
  font-size: 14px;
  border: 0;
}
