@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-primary: black;
  --color-secondary: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

small {
  font-size: 11px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none !important;
  border: 0 !important;
}

.icon-size {
  font-size: 25px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: inherit;
}

body,
html {
  height: 100%;
}

#root {
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  flex: 1 1 0%;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.chat-container {
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 0%;

  background-color: rgba(125, 125, 125, 0.07);
  transition-duration: 0.15s;
  transition-property: width;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-scrollar {
  height: 100%;
}

.scrollview {
  width: auto !important;
  padding: 0px 15px 0 15px;
}

.followBtn {
  display: none;
}

.chat-row {
  display: flex;
  align-items: flex-end;
  column-gap: 10px;
  margin-bottom: 10px;
  clear: both;
}

.chat-dir-lrt {
  justify-content: flex-start;
}

.chat-dir-rtl {
  justify-content: flex-end;
}
